<div class="row content-box">
    <div class="column medium-2 medium-offset-10">
        <div class="row">
            <div class="column medium-6">
                <a class="button open-button">Control</a>
            </div>
            <div class="column medium-6">
                <a class="button open-button">Error</a>
            </div>
        </div>
    </div>
</div>
<div class="row content-box">
    <div class="column medium-4 end" style="margin-top:20px;" ng-repeat="card in cards">
        <div class="error-card">
            <div class="row">
                <div class="column medium-4">
                    <img src="media/images/{{card.image}}">
                </div>
                <div class="column medium-8" style="padding-left:0px; margin-top:10px;">
                    <h6 class="head">{{card.name}}</h6>
                    <h6 class="value">{{card.value}} {{card.post}}</h6>
                </div>
            </div>
        </div>
    </div>                    
</div>